@charset "utf-8";
#wrapper{
	height: 1000px;
}

h1{
	font-size: 100px;
	color: #32CD32;
	font-family: Impact,sans-serif;
	text-shadow: 0 4px 1px  #696969;
}
.title-line { position: relative; display: block; margin: auto;}
.title-line span{ position: relative; display: block; margin: 0 5px 0 5px;float:left;}